@import url('https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif:wght@400;700&family=Rubik:wght@400;500;700&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto+Condensed:wght@400;700&family=Sofia+Sans+Extra+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Lora:ital,wght@1,400;1,500&family=Roboto:wght@100;500&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
   font-family: 'Delicious Handrawn', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

body {
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

label,button {
    font-size: 1.2rem !important;
    font-weight: 600;
}

@media (max-width: 540px) {
    .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
width: 100% !important;
    }
}


.signupform {
    width: 752px;
    border: 2px solid rgba(0, 0, 0, 0.09);
    box-shadow: rgb(231 231 231 / 90%);
    padding: 2rem;
    border-radius: 2%;
    background: rgba( 255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 1);
    backdrop-filter: blur( 14px);
    -webkit-backdrop-filter: blur( 14px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
.btn {
    margin-left: auto;
    padding: 1rem .5rem;
}

.css-i4bv87-MuiSvgIcon-root_ {
    font-size: 2.6rem !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    padding: 8px 25px !important;
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
    font-family: ui-serif !important;
    font-family: 'Roboto', sans-serif, 'ui-serif' !important;
}

.css-2s90m6-MuiAvatar-root,
.css-1wlk0hk-MuiAvatar-root {
    margin-top: -5rem !important;
    width: 10rem !important;
    height: 10rem !important;
}

.reset-password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: "'Roboto', sans-serif";
    overflow: auto;  
}
.form{
    width: 35rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0.1rem 0.1em 0.1rem 0.1rem rgb(255 255 255 / 25%);
}

.user_name{
    font-size: 1.2rem;
    font-weight: 700;
    font-family:serif;
}
.user_msg{
    font-size: .6rem;
    color: black ;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    color:  black !important;
}
label {
    font-size: 1.6rem !important;
    font-family: 'Roboto', sans-serif !important;
    
}
.signup{
    /* border: 1px solid rgba(130, 127, 127, 0.09); */
    /* box-shadow: rgb(231 231 231 / 90%);  */
    padding: 2rem;
    /* box-shadow:  .02rem .02rem .1em .1rem rgba(245, 245, 245, 0.9); */
    /* backdrop-filter: blur(14px); */
}
#chat{
    width: 40rem !important;
    
}